div {
    column-count: 2;
    column-width: 300px;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 50pt;
}

img{
    width:300px;
    height:200px;
    margin-left: 18px;
    border-radius: 1px;
    border: solid rgb(107, 15, 205);
}    

body {
    background: linear-gradient(to left, #0bd3d3 0%, #f890e7 100%);
}

h4 {
    text-align: center;
    font-size: 15pt;
    margin-top: -2px;
    border: 1px solid black ;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
    color: #2d2c2c;
}

/*Please Work*/